# Compiled Object files
*.obj

# Precompiled Headers
*.pch

# Compiled Dynamic libraries
*.dll
*.dylib
*.so

# Compiled Static libraries
*.lib
*.a

# Executables
*.exe
*.out
*.app

# Build directories
bin/
obj/
[Bb]uild/

# NuGet Packages
*.nupkg
*.snupkg
packages/

# Visual Studio specific files
.vs/
.vscode/
*.csproj.user
*.suo
*.user
*.sln.docstates

# Rider specific files
.idea/
*.sln.iml

# Logs and Database
*.log
*.ldf
*.mdf

# Application Insights
ApplicationInsights.config
ApplicationInsights.Telemetry.config

# Environment settings
*.env
.env.local
.env.*.local

# Others
*.cache